body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#quiz-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#result-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

pre {
  font-family: monospace;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #d2d2d2;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Prism.js code highlighting styles */
pre[class*="language-"] {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
  white-space: pre-wrap;
}

code[class*="language-"] {
  font-size: 14px;
  line-height: 1.5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Green hover effect on options */
#choices li:hover {
  background-color: lightgreen;
}

/* Disabled submit button */
#submit[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.disable-click .selected {
  background-color: lightgreen;
  cursor: not-allowed;
}


/* For Mobile Devices*/
@media only screen and (max-width: 600px) {
  body {
  font-size: 16px;
  }
  
  .container {
  padding: 10px;
  }
  
  #quiz-container,
  #result-container {
  padding: 10px;
  }
  
  h1,
  h2 {
  font-size: 24px;
  }
  
  pre {
  font-size: 12px;
  padding: 5px;
  }
  
  ul {
  margin: 10px 0;
  }
  
  li {
  margin-bottom: 8px;
  padding: 8px;
  }
  
  button {
  font-size: 14px;
  padding: 8px 16px;
  }
  
  /* Prism.js code highlighting styles */
  pre[class="language-"] {
  padding: 5px;
  font-size: 12px;
  }
  
  code[class*="language-"] {
  font-size: 12px;
  }
  
  /* Center align content vertically and horizontally */
  html,
  body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  
  #quiz-container,
  #result-container {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
  }
  }
  
  @media only screen and (min-width: 601px) {
  .container {
  margin-top: 50px;
  }
  }

  /*Very Small Devices*/

  @media only screen and (max-width: 320px) {
    body {
    font-size: 14px;
    }
    
    .container {
    padding: 5px;
    }
    
    h1,
    h2 {
    font-size: 20px;
    }
    
    pre {
    font-size: 10px;
    padding: 3px;
    }
    
    li {
    margin-bottom: 6px;
    padding: 6px;
    }
    
    button {
    font-size: 12px;
    padding: 6px 12px;
    }
    
    /* Prism.js code highlighting styles */
    pre[class="language-"] {
    padding: 3px;
    font-size: 10px;
    }
    
    code[class*="language-"] {
    font-size: 10px;
    }
    
    /* Center align content vertically and horizontally */
    html,
    body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    #quiz-container,
    #result-container {
    flex-grow: 1;
    width: 100%;
    max-width: 280px;
    }
    }
    
    @media only screen and (min-width: 321px) and (max-width: 600px) {
    body {
    font-size: 16px;
    }
    
    .container {
    padding: 10px;
    }
    
    h1,
    h2 {
    font-size: 24px;
    }
    
    pre {
    font-size: 12px;
    padding: 5px;
    }
    
    li {
    margin-bottom: 8px;
    padding: 8px;
    }
    
    button {
    font-size: 14px;
    padding: 8px 16px;
    }
    
    /* Prism.js code highlighting styles */
    pre[class="language-"] {
    padding: 5px;
    font-size: 12px;
    }
    
    code[class*="language-"] {
    font-size: 12px;
    }
    
    /* Center align content vertically and horizontally */
    html,
    body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    #quiz-container,
    #result-container {
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
    }
    }
      
